body{
  overflow: scroll;
}
.campo-digitacao {
  font-size: 20px;
  height: 130px;
  border: 3px solid black;
}

.frase {
  font-size: 20px;
}

.campo-desativado {
  background-color: lightgray;
}
.borda-verde{
  border: 6px solid green;
}

.borda-vermelha{
  border: 6px solid red;
}

.placar{
  display: none;
}

#erro{
  color: red;
  display: none;
}
#spinner{
  display: none;
}

#frase-id{
  width: 40px;
}

#botao-sync{
  float: right;
}
.select-usuarios{
  display:inline-block;
}

#usuarios{
  display:block;
}
.selectize-input{
  width: 150px;
  vertical-align: middle;
}